.repo-counts {
  display: flex;
  justify-content: center;
  div {
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    display: flex;
    margin: 0 5px;
  }
  p {
    margin: 0;
    padding: 8px;
  }
  .count {
    font-weight: bold;
    border-left: 2px solid;
  }
}
.repo-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  margin: 20px auto;
  line-height: 1.3em;
  height: 3.9em;
  width: 400px;
}
.repo-card-footer {
  display: flex;
  justify-content: space-around;
}
